@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=La+Belle+Aurore&family=Rubik+Microbe&display=swap');

:root { /*Criação de variável*/
    --cor0: #ebe5c5;
    --cor1: #B38BAD;
    --cor2: #F0BBE8;
    --cor3: #F073DD;
    --cor4: #A34E96;
    --cor5: #703667;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-cursiva: 'La Belle Aurore', cursive;
}

* { /* Seleciona TODOS os elementos do HTML*/
    margin: 0px;
    padding: 0px;
}


main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #9b9186a8;
    width: 600px;
    padding: 10px;
    margin: auto;
    min-width: 300px; /*Melhbora a respondividade para telas*/
    max-width: 1000px; /*Melhbora a respondividade para telas*/
}
body{
            background-image: linear-gradient(to left,#6E2134, #703947, #BA3858, #F090A8);
}
h1{
            background-color: #f090a844;
            color: brown;
            font-size: 50px;
            font-family: var(--fonte-destaque);
            text-align: center;
            text-decoration: underline;
            border-radius: 5px 5px 0px 0px;
            
}
h1#autor {
    font-family: var(--fonte-cursiva);
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}
h2{
            color: brown;
            font-size: 30px;
            font-family: var(--fonte-destaque);
            text-align: left;
            
}
#social{
    background-color: rgb(24, 98, 207);
    font-size: 25px;
    
}
p{
    font-family: var(--fonte-padrao);
    font-size: 20px;
    text-align: justify;
}